<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="profile.css">
    <title>Musify - Profile</title>

</head>
<body>
    <h1>My Profile</h1>
    <img src="<%= profilePicture %>" id="profile-pic" alt="User Profile Picture">
    <p>Display Name: <%= user.display_name %></p>
    <p>Spotify ID: <%= user.spotify_id %></p>

    <div class="table-container">
        <% userPosts.rows.forEach(post => { %>
            <div class="post">
                <p><strong>@</strong><strong><%= post.spotify_id %></strong></p>
                <p><strong></strong><%= post.post %></p>
            </div>
        <% }) %>
    </div>
    <script src = "profile.js"></script>
</body>
</html>